<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LocationId</key>
		<string>Dublin</string>
		<key>LocationName</key>
		<string>Dublin</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>London</string>
		<key>LocationName</key>
		<string>London</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>Barcelona</string>
		<key>LocationName</key>
		<string>Barcelona</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>New+York</string>
		<key>LocationName</key>
		<string>New York</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>Lviv</string>
		<key>LocationName</key>
		<string>Lviv</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>Frankfurt</string>
		<key>LocationName</key>
		<string>Frankfurt</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>Mainz</string>
		<key>LocationName</key>
		<string>Mainz</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>LocationId</key>
		<string>Munich</string>
		<key>LocationName</key>
		<string>Munich</string>
		<key>LocationIsSelected</key>
		<false/>
	</dict>
</array>
</plist>
